

.statusbar-overlay {
    background: #000000;
}

.navbar-inner, .toolbar-inner{
     background: rgb(7, 7, 7) !important;
}


.navbar, .subnavbar, .toolbar {
    background: rgba(0, 0, 0, 0.95) !important;
    
}


.toolbar{
    background: rgba(38, 36, 32, 0.54) !important;
    
}


.left {
    background: transparent !important;
    
}


.layout-dark .list-block ul{
    background: transparent !important;
  
}

.content-block{
    
    padding:0 !important;
}

.button{
  /*  border:1px solid white  !important;  */
    color:white!important;
    font-weight:bold !important;
    height:25px !important; 
    background:transparent !important;
    
    width:30%; display:inline-block; float:right;
    margin-left:7px;
}

.item-media img{
    width:70px;
    height:110px;
}


#bookDetails ul{
 list-style: none !important;    
      padding:0 !important;  
}

#bookDetails ul li{
 font-size: 15px;
    padding-left:5px;
    padding-right:5px;
}


#bookName{
padding-left: 10px;
    border-radius: 11px;
    width: 130%;
}

.card img{
   width: 100% !important;
}


.modal-inner {
    
    background: white;
    color: #181717;
}


html.ios-gt-8 .modal-button.modal-button-bold{
    color: #181717 !important;
}

.modal-button{
    background: #d9dbdcf2;
}


.list-block.media-list .item-link .item-title-row {

    padding-top: 40px;
}


.list-block ul {
      background: transparent !important;
      color: #ccc!important;
}


.card {
    margin:0 !important;
    
}


.fab, .far, .fas {

    font-size: 20px !important;
      color: #ccc!important;
    margin-left: 10px;
    margin-right:10px;
}


.list-block ul:before {
     content: none !important;
}

.list-block ul:after {
     content: none !important;
}

.fab {
    color: #ccc!important;
    font-size: 30px !important;
}


.layout-dark .navbar {
    background-color: transparent !important;
    
}


.button {
     border: 1px solid transparent; 
}

.theme-white .button:not(.button-fill) {
     border-color: transparent;
}

 .bg-new{
          background: #fb0;
          color:#2c2f31;
          padding:11px;
          color:black;
      }